* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 253, 253);
  background-size: cover;
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.pinimg.com/736x/af/d3/71/afd371af27f82f7901cb50b3d06e2592.jpg);
  border: 6px solid rgba(255, 255, 255, 0.445);
}

.page {
  width: 100%;
  margin-top: 5%;
  background-image: url(https://i.pinimg.com/736x/74/da/49/74da49c5ba3a0f9c8989aa81b80151c6.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 6px solid white;
  overflow: hidden;
  padding: 4%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-radius: 25%;
  background-color: #ffffff70;

  padding: 2%;
}

section {
  width: 60%;
}
